/* Lower profile div in sidebar */
aside div {
  padding-top: 8vh;
}

/* Disable lower case transform for side navbar */
aside nav ul li {
  text-transform: none;
}

/* Adjust Ko-fi button padding */
.btn-container {
  padding: 16px 0 !important;
}

/* Disable Ko-fi image rounded border */
.kofiimg {
  border-radius: 0% !important;
}

/* Anchor contact links on bottom */
ul.social {
  position: relative !important;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 0 !important;
  margin: 0;
}

/* Margin for social icons */
ul.social li {
  margin: 0 4px;
}

/* Abilitate bold titles for pages */
header h1 {
  font-weight: 500;
}

/* Allow for page to take up full dimensions + footer anchored on bottom */
main {
  height: initial;
  padding-top: 2%;
}

main article {
  max-width: 100% !important;
}

main article div {
  max-width: 100% !important;
}

/* Add bottom padding and horizontal margin to footer */
main footer {
  padding-bottom: 4px;
  margin: 0 8% 0;
}

/* Fix the damned ghost line above body */
h1 {
  margin-top: 0;
}

/* Zero margin */
.m0 {
  margin: 10px 0px !important;
}

/* Margin fix */
.m5 {
  margin: 5px !important;
}

/* Badge icons for lists + flex settings*/
.badge-icon-100 {
  width: 120px;
  height: 120px;
  margin: 5px;
}

.badge-icon-75 {
  width: 90px;
  height: 90px;
  margin: 5px;
}

.badge-icon-50 {
  width: 60px;
  height: 60px;
  margin: 5px;
}

/* Big image*/
.big-image {
  width: 220px;
  height: 220px;
  margin: 5px;
}

/* Small image */
.small-image {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

/* Founder nick div */
.founder-nick-div {
  margin: 15px auto;
}

/* Flex sub container */
.flex-sub-container {
  background-color: #404040;
  padding: 10px;
  border-radius: 10px;
}

/* Wrapping flexbox */
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-horizontal {
  flex-direction: row;
}

.flex-vertical {
  flex-direction: column;
}

.flex-end {
  align-items: flex-end;
}

.nowrap {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.flex-item-card {
  margin: 15px;
  text-align: center;
  flex-grow: 1;
}

.flex-card-force-h-wrap {
  margin: 15px auto;
  min-width: 280px;
  max-width: 45%;
}

.flex-item-card-full-width {
  margin: 5px auto;
}